* text=auto !eol
Docs/Descriptions/Activity-Coeffs.doc -text
Docs/Descriptions/Kinetics-Uptake.doc -text
Docs/Descriptions/Multisite-Mixmod.doc -text
Docs/Descriptions/P-corrections.doc -text
Docs/Descriptions/T-corrections-Reac.doc -text
Docs/Descriptions/T-corrections.doc -text
Docs/Descriptions/Tpx-corrections-CG-EoS.doc -text
Docs/DoNotWriteMacStuffOnNonMacDisks.workflow/Contents/QuickLook/Preview.png -text
Docs/GEMS3HelpFileList.html -text
Docs/GEMS3HelpInventory.html -text
Docs/INSTALL.linux.txt -text
Docs/INSTALL.macosx.txt -text
Docs/INSTALL.windows.txt -text
Docs/SeeLibraryInFinder.workflow/Contents/QuickLook/Preview.png -text
Docs/build-release/gems3.png -text
Docs/mac-build-release/gems3.app/Contents/MacOS/qcollectiongenerator -text
Docs/mac-build-release/gems3.app/Contents/MacOS/qhelpconverter -text
Docs/mac-build-release/gems3.app/Contents/MacOS/qhelpgenerator -text
Docs/mac-build-release/gems3.app/Contents/Resources/gems3.icns -text
Docs/win-build-release/GEMS3DEPLOY/Gems3-app/gems3.png -text
Docs/win-build-release/GEMS3DEPLOY/Gems3-app/windeployqt.exe -text
/gems3.png -text
