* text=auto !eol
gems2/.cvsignore svn_keywords=Author+Date+Id+Revision
gems2/Makefile svn_keywords=Author+Date+Id+Revision
gems2/Makefile.w32 svn_keywords=Author+Date+Id+Revision
gems2/RUNGEMS.BAT svn_keywords=Author+Date+Id+Revision
gems2/data/units.ini svn_keywords=Author+Date+Id+Revision
gems2/data/vis_cn.ini svn_keywords=Author+Date+Id+Revision
gems2/data/vis_od.ini svn_keywords=Author+Date+Id+Revision
gems2/data/viz_cndoc.txt svn_keywords=Author+Date+Id+Revision
gems2/doc/ADV_PAGE.TXT svn_keywords=Author+Date+Id+Revision
gems2/doc/ADV_PROC.TXT svn_keywords=Author+Date+Id+Revision
gems2/doc/BugLog.dima svn_keywords=Author+Date+Id+Revision
gems2/doc/BugLog.kostya svn_keywords=Author+Date+Id+Revision
gems2/doc/ChangeLog.andy svn_keywords=Author+Date+Id+Revision
gems2/doc/ChangeLog.dima svn_keywords=Author+Date+Id+Revision
gems2/doc/ChangeLog.kostya svn_keywords=Author+Date+Id+Revision
gems2/doc/ChangeLog.sveta svn_keywords=Author+Date+Id+Revision
gems2/doc/GEMS.kdelnk svn_keywords=Author+Date+Id+Revision
gems2/doc/Helpfiles-chart.txt svn_keywords=Author+Date+Id+Revision
gems2/doc/INFORMAL svn_keywords=Author+Date+Id+Revision
gems2/doc/INSTALL svn_keywords=Author+Date+Id+Revision
gems2/doc/INSTALL-linux.txt svn_keywords=Author+Date+Id+Revision
gems2/doc/INSTALL-mac.txt svn_keywords=Author+Date+Id+Revision
gems2/doc/MKPATCH svn_keywords=Author+Date+Id+Revision
gems2/doc/MakeGEMS-HOWTO svn_keywords=Author+Date+Id+Revision
gems2/doc/PRODUCE-linux.txt svn_keywords=Author+Date+Id+Revision
gems2/doc/PRODUCE-mac.txt svn_keywords=Author+Date+Id+Revision
gems2/doc/Patch+Diff-HOWTO svn_keywords=Author+Date+Id+Revision
gems2/doc/Porting-HOWTO svn_keywords=Author+Date+Id+Revision
gems2/doc/REQUIREMENTS svn_keywords=Author+Date+Id+Revision
gems2/doc/TODO.andy svn_keywords=Author+Date+Id+Revision
gems2/doc/TODO.dima svn_keywords=Author+Date+Id+Revision
gems2/doc/TODO.kostya svn_keywords=Author+Date+Id+Revision
gems2/doc/TODO.sveta svn_keywords=Author+Date+Id+Revision
gems2/doc/diff.exclude svn_keywords=Author+Date+Id+Revision
gems2/doc/format_deskr.txt svn_keywords=Author+Date+Id+Revision
gems2/doc/gems-backup.HOWTO svn_keywords=Author+Date+Id+Revision
gems2/doc/gems2.desktop svn_keywords=Author+Date+Id+Revision
gems2/doc/informal.txt svn_keywords=Author+Date+Id+Revision
gems2/doc/isformat_d.txt svn_keywords=Author+Date+Id+Revision
gems2/doc/out/format_gtd.txt svn_keywords=Author+Date+Id+Revision
gems2/doc/out/masstran.h svn_keywords=Author+Date+Id+Revision
gems2/doc/out/out_all.cpp svn_keywords=Author+Date+Id+Revision
gems2/doc/out/system_script.txt svn_keywords=Author+Date+Id+Revision
gems2/doc/out/v_print.cpp svn_keywords=Author+Date+Id+Revision
gems2/doc/out/v_print.h svn_keywords=Author+Date+Id+Revision
gems2/doc/psformat_d.txt svn_keywords=Author+Date+Id+Revision
gems2/doc/readme.txt svn_keywords=Author+Date+Id+Revision
gems2/doc/run_with_log.bat svn_keywords=Author+Date+Id+Revision
gems2/doc/start_gem svn_keywords=Author+Date+Id+Revision
gems2/doc/tar_backup.exclude svn_keywords=Author+Date+Id+Revision
gems2/doc/threading.txt svn_keywords=Author+Date+Id+Revision
gems2/doc/units.ini.txt svn_keywords=Author+Date+Id+Revision
gems2/doc/vis_cn.ini.txt svn_keywords=Author+Date+Id+Revision
gems2/doc/vis_od.ini.txt svn_keywords=Author+Date+Id+Revision
gems2/gems2.app/Contents/Info.plist svn_keywords=Author+Date+Id+Revision
gems2/gems2.app/Contents/PkgInfo svn_keywords=Author+Date+Id+Revision
gems2/gems2.app/Contents/Resources/gems.icns svneol=native#unset svn_keywords=Author+Date+Id+Revision
gems2/gems2.spec svn_keywords=Author+Date+Id+Revision
gems2/gems200-w32-install.nsi svn_keywords=Author+Date+Id+Revision
gems2/gems201rc7-w32-install.nsi svn_keywords=Author+Date+Id+Revision
gems2/img/RunBCC.png -text
gems2/img/RunIPM.png -text
gems2/img/SetCompos.png -text
gems2/img/arrow_left1.png -text
gems2/img/arrow_right1.png -text
gems2/img/back.xpm -text svneol=unset#application/octet-stream
gems2/img/filenew.png -text
gems2/img/fileopen.png -text
gems2/img/fileprint.png -text
gems2/img/filesave.png -text
gems2/img/filesaveas.png -text
gems2/img/forward.xpm -text svneol=unset#application/octet-stream
gems2/img/gems1.png -text
gems2/img/gems16.xpm -text svneol=unset#application/octet-stream
gems2/img/gems32.xpm -text svneol=unset#application/octet-stream
gems2/img/help.png -text
gems2/img/home.xpm -text svneol=unset#application/octet-stream
gems2/img/iconclose.png -text
gems2/img/kcalc.png -text
gems2/img/kpaint.png -text
gems2/img/ordertool.png -text
gems2/img/p_circle.png -text
gems2/img/p_crossdiag.png -text
gems2/img/p_fillcircle.png -text
gems2/img/p_fillrombbus.png -text
gems2/img/p_fillsquare.png -text
gems2/img/p_point.png -text
gems2/img/p_star.png -text
gems2/img/p_wye.png -text
gems2/img/pixlabel.png -text
gems2/img/print.png -text
gems2/img/progress.png -text
gems2/img/reccalc.png -text
gems2/img/sciences_section.xpm -text svneol=unset#application/octet-stream
gems2/img/setup.png -text
gems2/img/simbtype.png -text
gems2/img/toolbutton.png -text
gems2/img/xpaint.png -text
gems2/lib/Readme.txt svn_keywords=Author+Date+Id+Revision
gems2/makecl.bat svn_keywords=Author+Date+Id+Revision
gems2/makew.bat svn_keywords=Author+Date+Id+Revision
gems2/makew_installer.bat svn_keywords=Author+Date+Id+Revision
gems2/makew_noqt.bat svn_keywords=Author+Date+Id+Revision
gems2/makew_r.bat svn_keywords=Author+Date+Id+Revision
gems2/mods/.cvsignore svn_keywords=Author+Date+Id+Revision
gems2/mods/Makefile svn_keywords=Author+Date+Id+Revision
gems2/mods/Makefile.mod_lin svn_keywords=Author+Date+Id+Revision
gems2/mods/Makefile.mod_w32 svn_keywords=Author+Date+Id+Revision
gems2/mods/Makefile.w32 svn_keywords=Author+Date+Id+Revision
gems2/mods/filters_data.h svn_keywords=Author+Date+Id+Revision
gems2/mods/gemipm/FMT-Bridge/databr.h svn_keywords=Author+Date+Id+Revision
gems2/mods/gemipm/FMT-Bridge/datach.h svn_keywords=Author+Date+Id+Revision
gems2/mods/gemipm/FMT-Bridge/m_const.h svn_keywords=Author+Date+Id+Revision
gems2/mods/gemipm/Makefile svn_keywords=Author+Date+Id+Revision
gems2/mods/gemipm/Makefile.mod_lin svn_keywords=Author+Date+Id+Revision
gems2/mods/gemipm/Makefile.mod_w32 svn_keywords=Author+Date+Id+Revision
gems2/mods/gemipm/Makefile.w32 svn_keywords=Author+Date+Id+Revision
gems2/mods/gemipm/Project1.bpr svn_keywords=Author+Date+Id+Revision
gems2/mods/gemipm/RUNcalc.BAT svn_keywords=Author+Date+Id+Revision
gems2/mods/gemipm/m_const.h svn_keywords=Author+Date+Id+Revision
gems2/mods/gemipm/m_param.h svn_keywords=Author+Date+Id+Revision
gems2/mods/gemipm/main.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/gemipm/mainfromf.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/gemipm/makew.bat svn_keywords=Author+Date+Id+Revision
gems2/mods/gemipm/ms_param.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/m_compos.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/m_compos.h svn_keywords=Author+Date+Id+Revision
gems2/mods/m_const.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/m_const.h svn_keywords=Author+Date+Id+Revision
gems2/mods/m_dcomp.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/m_dcomp.h svn_keywords=Author+Date+Id+Revision
gems2/mods/m_dcomp2.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/m_dualth.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/m_dualth.h svn_keywords=Author+Date+Id+Revision
gems2/mods/m_dualthc.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/m_gtdemo.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/m_gtdemo.h svn_keywords=Author+Date+Id+Revision
gems2/mods/m_icomp.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/m_icomp.h svn_keywords=Author+Date+Id+Revision
gems2/mods/m_integ.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/m_integ.h svn_keywords=Author+Date+Id+Revision
gems2/mods/m_param.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/m_param.h svn_keywords=Author+Date+Id+Revision
gems2/mods/m_phase.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/m_phase.h svn_keywords=Author+Date+Id+Revision
gems2/mods/m_prfget.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/m_prfget2.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/m_proces.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/m_proces.h svn_keywords=Author+Date+Id+Revision
gems2/mods/m_reac2.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/m_reacdc.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/m_reacdc.h svn_keywords=Author+Date+Id+Revision
gems2/mods/m_rtparm.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/m_rtparm.h svn_keywords=Author+Date+Id+Revision
gems2/mods/m_sdata.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/m_sdata.h svn_keywords=Author+Date+Id+Revision
gems2/mods/m_syseq.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/m_syseq.h svn_keywords=Author+Date+Id+Revision
gems2/mods/m_syst2.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/m_unsp_gen.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/m_unsp_stat.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/m_unspace.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/m_unspace.h svn_keywords=Author+Date+Id+Revision
gems2/mods/s_fgl.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/s_fgl.h svn_keywords=Author+Date+Id+Revision
gems2/mods/s_fgl2.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/s_fglbred.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/s_formula.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/s_formula.h svn_keywords=Author+Date+Id+Revision
gems2/mods/s_supcrt.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/s_supcrt.h svn_keywords=Author+Date+Id+Revision
gems2/mods/s_supcrt2.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/s_tpwork.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/s_tpwork.h svn_keywords=Author+Date+Id+Revision
gems2/mods/submod/.cvsignore svn_keywords=Author+Date+Id+Revision
gems2/mods/submod/Makefile svn_keywords=Author+Date+Id+Revision
gems2/mods/submod/Makefile.w32 svn_keywords=Author+Date+Id+Revision
gems2/mods/submod/databr.h svn_keywords=Author+Date+Id+Revision
gems2/mods/submod/datach.h svn_keywords=Author+Date+Id+Revision
gems2/mods/submod/ipm_fia_bc.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/submod/ipm_gamma.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/submod/ipm_sel_bc.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/submod/ms_calc.h svn_keywords=Author+Date+Id+Revision
gems2/mods/submod/ms_datach_br.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/submod/ms_mtparm.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/submod/ms_mtparm.h svn_keywords=Author+Date+Id+Revision
gems2/mods/submod/ms_mueqexp.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/submod/ms_muleq.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/submod/ms_muload.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/submod/ms_multi.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/submod/ms_multi.h svn_keywords=Author+Date+Id+Revision
gems2/mods/submod/ms_multi_file.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/submod/ms_mupmph.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/submod/ms_rmults.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/submod/ms_rmults.h svn_keywords=Author+Date+Id+Revision
gems2/mods/submod/ms_sysbc.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/submod/ms_system.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/submod/ms_system.h svn_keywords=Author+Date+Id+Revision
gems2/mods/submod/stepwise.h svn_keywords=Author+Date+Id+Revision
gems2/mods/submod/v_smodhand.h svn_keywords=Author+Date+Id+Revision
gems2/mods/v_ipnc.cpp svn_keywords=Author+Date+Id+Revision
gems2/mods/v_ipnc.h svn_keywords=Author+Date+Id+Revision
gems2/mods/v_mod.h svn_keywords=Author+Date+Id+Revision
gems2/rungems.sh svn_keywords=Author+Date+Id+Revision
gems2/shared/README svn_keywords=Author+Date+Id+Revision
gems2/vizor/.cvsignore svn_keywords=Author+Date+Id+Revision
gems2/vizor/Makefile svn_keywords=Author+Date+Id+Revision
gems2/vizor/Makefile.qt svn_keywords=Author+Date+Id+Revision
gems2/vizor/Makefile.qt_w32 svn_keywords=Author+Date+Id+Revision
gems2/vizor/Makefile.w32 svn_keywords=Author+Date+Id+Revision
gems2/vizor/calcthread.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/.cvsignore svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/AutoPhaseDialog.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/AutoPhaseDialog.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/AutoPhaseDialog.ui svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/CalcCheckDialog.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/CalcCheckDialog.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/CalcCheckDialog.ui svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/CalcDialog.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/CalcDialog.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/CalcDialog.ui svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/ChangeKeyDialog.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/ChangeKeyDialog.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/ChangeKeyDialog.ui svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/ColorDialog.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/ColorDialog.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/ColorDialog.ui svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/DBAdvDialog.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/DBAdvDialog.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/DBAdvDialog.ui svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/DBDialog.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/DBDialog.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/DBDialog.ui svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/EQDialog.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/EQDialog.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/EQDialog.ui svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/ElementsDialog.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/ElementsDialog.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/ElementsDialog.ui svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/ExcludeFillDialog.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/ExcludeFillDialog.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/GraphDialog.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/GraphDialog.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/GraphDialog.ui svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/KeyDialog.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/KeyDialog.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/KeyDialog.ui svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/KeyFilter.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/KeyFilter.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/KeyProfile.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/KeyProfile.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/KeyProfile.ui svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/LegendDialog.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/LegendDialog.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/LegendDialog.ui svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/ListFilesDialog.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/ListFilesDialog.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/ListFilesDialog.ui svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/LoadMessage.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/LoadMessage.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/MainDialog.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/MainDialog.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/MainDialog.ui svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/Makefile svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/Makefile.w32 svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/NewSystemDialog.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/NewSystemDialog.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/NewSystemDialog.ui svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/OnlyColorDialog.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/OnlyColorDialog.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/ProcessDialog.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/ProcessDialog.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/ProcessDialog.ui svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/ProgressDialog.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/ProgressDialog.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/ProgressDialog.ui svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/ProgressDialog.ui.st svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/SelectDialog.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/SelectDialog.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/SelectDialog.ui svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/SetFiltersDialog.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/SetFiltersDialog.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/SetFiltersDialog.ui svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/SettingsDialog.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/SettingsDialog.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/dlg/SettingsDialog.ui svn_keywords=Author+Date+Id+Revision
gems2/vizor/graph.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/graph.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/help.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/help.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/helpwindow.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/helpwindow.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/kernel/.cvsignore svn_keywords=Author+Date+Id+Revision
gems2/vizor/kernel/Makefile svn_keywords=Author+Date+Id+Revision
gems2/vizor/kernel/Makefile.w32 svn_keywords=Author+Date+Id+Revision
gems2/vizor/kernel/t_print.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/kernel/t_print.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/kernel/t_read.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/kernel/t_read.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/kernel/v_dbfile.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/kernel/v_dbm.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/kernel/v_dbm1.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/kernel/v_dbm2.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/kernel/v_file.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/kernel/v_file.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/kernel/v_module.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/kernel/v_module.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/kernel/v_object.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/kernel/v_object.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/kernel/v_user.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/kernel/v_user.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/kernel/v_vals.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/kernel/v_vals.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/kernel/v_vals_impl.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/libs/.cvsignore svn_keywords=Author+Date+Id+Revision
gems2/vizor/libs/Makefile svn_keywords=Author+Date+Id+Revision
gems2/vizor/libs/Makefile.w32 svn_keywords=Author+Date+Id+Revision
gems2/vizor/libs/array.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/libs/config.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/libs/config.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/libs/cow/gstring.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/libs/cow/gstring.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/libs/gdatastream.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/libs/gdatastream.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/libs/gstring.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/libs/gstring.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/libs/nocow/gstring.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/libs/nocow/gstring.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/libs/verror.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/main.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/module_w.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/module_w.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/page_f.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/page_i.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/page_s.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/page_w.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/page_w.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/page_win_w.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/page_win_w.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/pshape.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/pshape.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/query_w.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/service.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/tmp/Readme.txt svn_keywords=Author+Date+Id+Revision
gems2/vizor/units.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/units.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/visor.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/visor.h svn_keywords=Author+Date+Id+Revision
gems2/vizor/visor_w.cpp svn_keywords=Author+Date+Id+Revision
gems2/vizor/visor_w.h svn_keywords=Author+Date+Id+Revision
