/*.obj
/*~
/gems2
mods/*.bak
mods/*.o
mods/*.obj
mods/*~
mods/submod/*.bak
mods/submod/*.o
mods/submod/*.obj
mods/submod/*~
vizor/*.bak
vizor/*.o
vizor/*.obj
vizor/*~
vizor/dlg/*.bak
vizor/dlg/*.o
vizor/dlg/*.obj
vizor/dlg/*Data.cpp
vizor/dlg/*Data.h
vizor/dlg/*~
vizor/kernel/*.bak
vizor/kernel/*.o
vizor/kernel/*.obj
vizor/kernel/*~
vizor/libs/*.bak
vizor/libs/*.o
vizor/libs/*.obj
vizor/libs/*~
