[Desktop Entry]
Encoding=UTF-8
Name=gems2
Exec=gems2
Icon=gems2
Type=Application
Comment=This program permits to calculate complex geochemical equilibria and prepare consistent thermodynamic databases
