<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>gems3</string>
	<key>CFBundleExecutable</key>
	<string>gems3</string>
	<key>CFBundleGetInfoString</key>
	<string>GEM-Selektor v3.3.3 package for geochemical modeling</string>
	<key>CFBundleIconFile</key>
	<string>gems3.icns</string>
	<key>CFBundleIdentifier</key>
	<string>ch.psi.gems3</string>
	<key>CFBundleName</key>
	<string>gems3</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.3</string>
	<key>CFBundleSignature</key>
	<string>GEM-Selektor-rev.2646.1036</string>
	<key>CFBundleVersion</key>
	<string>3.3.3</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (c) 2004-2015 GEMS Development Team</string>
</dict>
</plist>
