<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Gems3</string>
	<key>CFBundleExecutable</key>
	<string>gems3</string>
	<key>CFBundleGetInfoString</key>
	<string>Gems3.1 (c) 2004,2012 Paul Scherrer Institut</string>
	<key>CFBundleIconFile</key>
	<string>Gems3.icns</string>
	<key>CFBundleIdentifier</key>
	<string>ch.psi.gems3</string>
	<key>CFBundleName</key>
	<string>gems3</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.1</string>
	<key>CFBundleSignature</key>
	<string>GEM-Selektor-rev2033.613</string>
	<key>CFBundleVersion</key>
	<string>3.1.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>GEM-Selektor v3.1 (c) 2004,2012 Paul Scherrer Institut</string>
</dict>
</plist>
